/* código general para quitar bordes, espacios y establecer el tipo y tamaño de fuente*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
  }
  /*codigo para estetica géneral/responsiva*/
  
  /* Clase padre */
  .App{
    display: flex; /*Establecer la propiedad flex en todas las demás box heredadas*/
    flex-flow: column nowrap;
  }
  /* Extra de margenes*/
  .margen{
    padding: 0 50px;
  }
  
  /* Código superior de la página */
        /* Coso de barra-variables */
        .barra{
            background-color: rgba(28, 6, 73, 0.778);
            display: flex;
            flex-flow: row nowrap; /*establecer las variables de la barra para que no se formen columnas*/
  
            border-bottom: 1px solid rgba(255, 255, 255, 0.5); /*color de borde de barra*/
  
            height: 60px; /*establecer tamaño*/
  
            align-items: center;
        }
            .logo{
                flex: 2 1 auto;   /*establecer la distribución de la variable*/
            }
                .logo a{
                    color: #fff;
                    text-decoration: none; /*quitar propiedades determinadas; como lineas decorativas*/
                }
                .logo a:hover{
                    color: #fc2323;
                    background-color: rgb(0, 0, 0);
                    transition: .5s;
                }
  
            .barra-contenido{
                flex: 2 1 auto; /*establecer la distribución de la variable*/
                padding: 0 10px;
                letter-spacing: 2px; /*establecer el espacio*/
  
            }
                .barra-contenido a{
                    color: #fff;
                    text-decoration: none;
  
                    margin: 10px;
                }
                
                .barra-contenido a:hover{ /*propiedad para que la variable cambie al pasar el cursor*/
                    color: #EA5455;
                    background-color: rgb(0, 0, 0);
                    transition: .5s;
                }
  
            .barra-log a{
                color: #fff;
                text-decoration: none;
            }
                .barra-log a:hover{
                    color: #EA5455;
                    background-color: rgb(115, 0, 124);
                    transition: .5s;
                }
                
            /* Coso de barra-principal */
        .texto-principal{
            background-color: rgba(0, 0, 0, 0.5);
            height: 640px;
            display: flex;
            align-items: center; /* alinear contenido*/
            justify-content: center; /*centrar contenido*/
        }
            .barra-principal_1{
                color: #fff;
                text-align: center; /*alinear texto*/
            }
                .barra-principal_1 a:hover{
                    color: #EA5455;
                }
  