.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .tab {
    flex: 1;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tab input[type="radio"] {
    display: none;
  }
  
  .tab label {
    display: block;
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
  }
  
  .tab label:hover {
    background-color: #ddd;
  }
  
  .tab input[type="radio"]:checked + label {
    background-color: #ddd;
  }
  
  .tab .content {
    padding: 20px;
  }
  
  .social-media {
    text-align: center;
  }
  
  .social-media h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .social-media ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media li {
    display: inline-block;
    margin: 0 10px;
    list-style: none; /* Elimina los puntos de la lista */
  }
  
  .social-media a {
    text-decoration: none;
    color: #333;
  }
  .no-bullets {
    list-style: none;
    padding: 0;
  }
  
  .no-bullets li {
    margin-bottom: 10px;
  }
    