
 /* ------------------------------[  Control | logo ]----------------------------------------- */


/* Contenedor principal */
.datos-contenedor {
  display: flex;
  min-height: calc(100% - 100px); 
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5);
  padding-top: 100px;
}

/* Encabezado */
h1 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

 /* ------------------------------[  Control | login.html y registro.html ]----------------------------------------- */

/* Formularios */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 20px rgba(70, 70, 70, 0.5);
}


/* Campos de entrada */
.separador {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

 /* ----------------------------------------------------------------------- */


  /* ----------------------[ control de ingresar datos y sus colores]------------------------------- */

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"] {
  padding: 1rem;
  border: 1px solid #eed2d2;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}


input[type="text"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0px 0px 5px #e800f8;
}

/* Botones */
button[type="submit"], .enviarbtn {
  background-color: #9129c9;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 10px;
}

button[type="eliminate"] {
  background-color: #d43b3b;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: 1px;
}


button[type="submit"]:hover {
  background-color: #0069d9;
}

/* Aceptar terminos y condiciones */
 
.footer {
  text-align: center; /* Centra el contenido del pie de página */
  padding: 10px; /* Añade un espacio de 10px de padding alrededor del contenido */
  position: fixed; /* Mantiene el pie de página fijo en la parte inferior de la pantalla */
  bottom: 0; /* Posiciona el pie de página en la parte inferior de la pantalla */
  width: 100%; /* Establece el ancho del pie de página al 100% del ancho de la pantalla */
  background-color: rgba(255, 255, 255, 0.7); /* Establece un fondo semi-transparente blanco */
  box-shadow: 0 0 20px rgba(95, 95, 95, 0.5); /* Añade una sombra alrededor del pie de página */
}


